.container-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding-bottom: 2%;

}

.btn-ticket {
    margin-left: 20px;

}

.container-filters {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background-color: white;

}

.container-cards {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.row-cards {
    padding-bottom: 3%;
}