.container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 750px; */
  width: 100vw;
  top: 100px;
  background-color: white;
}

#titulo1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 0 auto;
}

#titulo{
text-align: center;
margin-top: 2%;
margin-bottom: 2%;
margin: 0 auto;
}

#navBarProyectos{
border-width: 1px;
border: solid;
text-align: center;
height: 2vw;
width: 30vw;
margin: 0 auto;
border: 1px solid rgb(2, 2, 2);
font-size: 1vw;
}

#navBarTareas{
border-width: 1px;
border: solid;
text-align: center;
height: 2vw;
width: 30vw;
margin: 0 auto;
border: 1px solid rgb(2, 2, 2);
font-size: 1vw; 
}



#calendarioBoton{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
margin: 0 auto;
}

#Calendar{
border-width: 1px;
border: solid;
text-align: center;
width: 30vw;
top:1vw;
margin: 0 auto;
border: 1px solid rgb(2, 2, 2);
text-align: center ;
position: relative;
}

#button{
border-width: 1px;
border: solid;
text-align: center;
top:2vw;
width: 30vw;
margin: 0 auto;
border: 1px solid rgb(2, 2, 2);
text-align: center ;
position: relative;
}

#ingresar-legajo {
top:0.5%;
width: 20vw;
margin: 0 auto;
text-align: center;
position: relative;
margin-top: 0.5%;
margin-bottom: 0.5%;
}

#search{
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#Texto-seleccionar-horas{
  top:2vw;
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 0.9%;
  margin-bottom: 2%;
  }

  #botonera{
    top:2vw;
    width: 20vw;
    margin: 0 auto;
    text-align: center ;
    position: relative;
    margin-bottom: 2%;
    }

#pruebas {
  top:2vw;
  width: 20vw;
  margin: 0 auto;
  text-align: center ;
  position: relative;
}

#botonera_periodo{
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 2%;
  margin-bottom: 3%;
  }


