.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 750px; */
    width: 100vw;
    top: 100px;
    background-color: white;
}

#titulo1{
    text-align: center;
    margin-top: 3vw;
    margin-right: 12vw;
}

#collasible-dropdown{
  border-width: 1px;
  border: solid;
  text-align: center;
  border: 1px solid rgb(2, 2, 2);
  text-align: center ;
  position: relative;
  height: 2vw;
  width: 20vw;
  right: 10vw;
  top: 3vw;
  transform: translate(167%, 0);
  font-size: 1vw;
}


#dropdown-item {
  width:20vw;
  text-align: center ;
}

#proyecto-dropdown{
  width: 600vw;
  text-align: center ;
}

#page {
  align-items: center;
  text-align: center;
}

