.metricsType {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-bottom: 3%;
    /* margin-top: 3%; */
}

.modalContentReporte {
    width: 70vw;
    /* Occupy the 90% of the screen width */
    max-width: 85vw;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 750px; */
    width: 100vw;
    top: 100px;
    background-color: white;
}

.subtitle {
    /* align-self: center; */
    padding-bottom: 5px;
    font-weight: bold;
    color: "black";
    font-size: 30px;
}

.btn-info {
    background-color: blue;
    color: white;

}

.xd {
    white-space: nowrap;
}

.box-reporte-final {
    height: 300px;
    width: 100%;
}