#top-categoria{
    margin-left: 315px;
}



#titulo{
    margin-top: 100px;
    text-align: center;
}

#titulo2{
    margin-top: 20px;
    text-align: center;
}

#outlined-basic2{
    margin-: 100px;
}