.campo {
    position: relative;
    display: flex;
    padding-top: 5px;
}

.modalContent2 {
    padding-top: 15px;
    width: 40vw;
    max-width: 35vw;
}

.v-center {
    display: flex;
    align-items: center;
    justify-content: start;
}